
<!doctype html>
<html class="no-js">
<head>
  
<!-- Global site tag (gtag.js) - Google Ads:  652588869-->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW- 652588869"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-126904704-2', { 'send_page_view': false });
gtag('config', 'AW-652588869');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N97W7HZ');</script>
<!-- End Google Tag Manager -->
  
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">

	
		<link rel="shortcut icon" href="https://lh3.googleusercontent.com/Qi5XmAvODNTMTG1nWQUJ2jV0eJimo8h6Ps6juGwxh0DmaE4piOHUhNQMw18AkFRJKaBy=s85" type="image/png" />
	

	

	<title>
    
     HOME - Shoes Shop
    
  </title>

	
		<meta name="description" content="Sepatu Dan Sandal Terbaik Karya Anak Bangsa Indonesia Untuk Gaya Hidup Sehari-hari Yang Aktif. Pembelian Bergaransi Hingga 3 Bulan Untuk Perbaikan Dan Penukaran.">
	

	



  <meta property="og:type" content="website">
  <meta property="og:title" content="Heiden Heritage - Inspired By The World, Dedicated For You">

  




  <meta property="og:description" content="Sepatu Dan Sandal Terbaik Karya Anak Bangsa Indonesia Untuk Gaya Hidup Sehari-hari Yang Aktif. Pembelian Bergaransi Hingga 3 Bulan Untuk Perbaikan Dan Penukaran.">


<meta property="og:url" content="https://www.heiden.id/">
<meta property="og:site_name" content="Heiden Heritage">



<meta name="twitter:card" content="summary">


  <meta name="twitter:title" content="Heiden Heritage - Inspired By The World, Dedicated For You">
  <meta name="twitter:description" content="Sepatu Dan Sandal Terbaik Karya Anak Bangsa Indonesia Untuk Gaya Hidup Sehari-hari Yang Aktif. Pembelian Bergaransi Hingga 3 Bulan Untuk Perbaikan Dan Penukaran.">

  
  

  



	<link rel="canonical" href="https://www.heiden.id/">

	<link rel="preload" as="style" href="//cdn.shopify.com/s/files/1/0341/7112/5891/t/2/assets/theme.scss.css?v=127584045984412349541644995723">
	<link rel="preconnect" href="//fonts.shopifycdn.com">

	<link href="//cdn.shopify.com/s/files/1/0341/7112/5891/t/2/assets/theme.scss.css?v=127584045984412349541644995723" rel="stylesheet" type="text/css" media="all" />

	<script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.start');</script><meta name="facebook-domain-verification" content="0wti61vwv688b08prvn4b82tuyxhiw">
<meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/34171125891/digital_wallets/dialog">
<script id="shopify-features" type="application/json">{"accessToken":"9ffe3a1e0bcf436b1fac16cadb580e4b","betas":["rich-media-storefront-analytics"],"domain":"www.heiden.id","predictiveSearch":true,"shopId":34171125891,"smart_payment_buttons_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/spb.en.js?v=2","dynamic_checkout_cart_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/dynamic-checkout-cart.en.js?v=2","locale":"en"}</script>
<script>var Shopify = Shopify || {};
Shopify.shop = "heiden-heritage.myshopify.com";
Shopify.locale = "en";
Shopify.currency = {"active":"IDR","rate":"1.0"};
Shopify.country = "ID";
Shopify.theme = {"name":"Kingdom","id":89561202819,"theme_store_id":725,"role":"main"};
Shopify.theme.handle = "null";
Shopify.theme.style = {"id":null,"handle":null};
Shopify.cdnHost = "cdn.shopify.com";
Shopify.routes = Shopify.routes || {};
Shopify.routes.root = "/";</script>
<script type="module">!function(o){(o.Shopify=o.Shopify||{}).modules=!0}(window);</script>
<script>!function(o){function n(){var o=[];function n(){o.push(Array.prototype.slice.apply(arguments))}return n.q=o,n}var t=o.Shopify=o.Shopify||{};t.loadFeatures=n(),t.autoloadFeatures=n()}(window);</script>
<script>(function() {
  function asyncLoad() {
    var urls = ["https:\/\/cdn.shopify.com\/s\/files\/1\/0070\/3666\/5911\/files\/superlemon_a0cb29ce-4d6d-41c7-a02f-4e16b427d1c2.js?v=1653632297\u0026shop=heiden-heritage.myshopify.com","https:\/\/cdn.hextom.com\/js\/eventpromotionbar.js?shop=heiden-heritage.myshopify.com"];
    for (var i = 0; i < urls.length; i++) {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = urls[i];
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
  };
  if(window.attachEvent) {
    window.attachEvent('onload', asyncLoad);
  } else {
    window.addEventListener('load', asyncLoad, false);
  }
})();</script>
<script id="__st">var __st={"a":34171125891,"offset":25200,"reqid":"4969e396-9209-4bf7-a179-11183171eafe","pageurl":"www.heiden.id\/","u":"bb0e2f2a6f84","p":"home"};</script>
<script>window.ShopifyPaypalV4VisibilityTracking = true;</script>
<script>!function(o){o.addEventListener("DOMContentLoaded",function(){window.Shopify=window.Shopify||{},window.Shopify.recaptchaV3=window.Shopify.recaptchaV3||{siteKey:"6LcCR2cUAAAAANS1Gpq_mDIJ2pQuJphsSQaUEuc9"};var t=['form[action*="/contact"] input[name="form_type"][value="contact"]','form[action*="/comments"] input[name="form_type"][value="new_comment"]','form[action*="/account"] input[name="form_type"][value="customer_login"]','form[action*="/account"] input[name="form_type"][value="recover_customer_password"]','form[action*="/account"] input[name="form_type"][value="create_customer"]','form[action*="/contact"] input[name="form_type"][value="customer"]'].join(",");function n(e){e=e.target;null==e||null!=(e=function e(t,n){if(null==t.parentElement)return null;if("FORM"!=t.parentElement.tagName)return e(t.parentElement,n);for(var o=t.parentElement.action,r=0;r<n.length;r++)if(-1!==o.indexOf(n[r]))return t.parentElement;return null}(e,["/contact","/comments","/account"]))&&null!=e.querySelector(t)&&((e=o.createElement("script")).setAttribute("src","https://cdn.shopify.com/shopifycloud/storefront-recaptcha-v3/v0.6/index.js"),o.body.appendChild(e),o.removeEventListener("focus",n,!0),o.removeEventListener("change",n,!0),o.removeEventListener("click",n,!0))}o.addEventListener("click",n,!0),o.addEventListener("change",n,!0),o.addEventListener("focus",n,!0)})}(document);</script>
<script integrity="sha256-N6F6ZjvOAMPhcD0kfZWNQQgx6eXaxFfh6aqfN0geLrU=" data-source-attribution="shopify.loadfeatures" defer="defer" src="//cdn.shopify.com/shopifycloud/shopify/assets/storefront/load_feature-37a17a663bce00c3e1703d247d958d410831e9e5dac457e1e9aa9f37481e2eb5.js" crossorigin="anonymous"></script>
<script integrity="sha256-h+g5mYiIAULyxidxudjy/2wpCz/3Rd1CbrDf4NudHa4=" data-source-attribution="shopify.dynamic-checkout" defer="defer" src="//cdn.shopify.com/shopifycloud/shopify/assets/storefront/features-87e8399988880142f2c62771b9d8f2ff6c290b3ff745dd426eb0dfe0db9d1dae.js" crossorigin="anonymous"></script>


<script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.end');</script>
	
  

	<script src="//code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>

  <script type="text/javascript">

  	function lightOrDark(a){if(a.match(/^rgb/)){a=a.match(/^rgba?\((\d+),\s*(\d+),\s*(\d+)(?:,\s*(\d+(?:\.\d+)?))?\)$/);var b=a[1];var c=a[2];a=a[3]}else a=+("0x"+a.slice(1).replace(5>a.length&&/./g,"$&$&")),b=a>>16,c=a>>8&255,a&=255;return 140<Math.sqrt(.299*b*b+.587*c*c+.114*a*a)?"#000":"#fff"};

  	window.reorderSections = function() {
	    $(".with-gutter").removeClass("with-gutter");
	    $(".without-gutter").removeClass("without-gutter");
	    $(".content-section.gutter--on").each(function() {
	      $(this).parent().addClass("with-gutter");
	      if ( $(this).hasClass('parent-has-inner-padding') ) {
	      	$(this).parent().addClass('has-inner-padding');
	      }
	    });
	    $(".content-section.gutter--off").each(function() {
	      $(this).parent().addClass("without-gutter")
	    });
		};
		$(document).ready(function() {
		   window.reorderSections()
		});

  	2===performance.navigation.type&&location.reload(!0);
  </script>

<meta property="og:image" content="https://cdn.shopify.com/s/files/1/0341/7112/5891/files/HRTG.-LOGO-Landscape-Black_1_141a4694-fda2-4124-a2e1-bbea67b6fdc8.png?height=628&pad_color=ffffff&v=1590557423&width=1200" />
<meta property="og:image:secure_url" content="https://cdn.shopify.com/s/files/1/0341/7112/5891/files/HRTG.-LOGO-Landscape-Black_1_141a4694-fda2-4124-a2e1-bbea67b6fdc8.png?height=628&pad_color=ffffff&v=1590557423&width=1200" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="628" />
<link href="https://monorail-edge.shopifysvc.com" rel="dns-prefetch">
<script>(function(){if ("sendBeacon" in navigator && "performance" in window) {var session_token = document.cookie.match(/_shopify_s=([^;]*)/);function handle_abandonment_event(e) {var entries = performance.getEntries().filter(function(entry) {return /monorail-edge.shopifysvc.com/.test(entry.name);});if (!window.abandonment_tracked && entries.length === 0) {window.abandonment_tracked = true;var currentMs = Date.now();var navigation_start = performance.timing.navigationStart;var payload = {shop_id: 34171125891,url: window.location.href,navigation_start,duration: currentMs - navigation_start,session_token: session_token && session_token.length === 2 ? session_token[1] : "",page_type: "index"};window.navigator.sendBeacon("https://monorail-edge.shopifysvc.com/v1/produce", JSON.stringify({schema_id: "online_store_buyer_site_abandonment/1.1",payload: payload,metadata: {event_created_at_ms: currentMs,event_sent_at_ms: currentMs}}));}}window.addEventListener('pagehide', handle_abandonment_event);}}());</script>
<script>window.ShopifyAnalytics = window.ShopifyAnalytics || {};
window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
window.ShopifyAnalytics.meta.currency = 'IDR';
var meta = {"page":{"pageType":"home"}};
for (var attr in meta) {
  window.ShopifyAnalytics.meta[attr] = meta[attr];
}</script>
<script>window.ShopifyAnalytics.merchantGoogleAnalytics = function() {
  
};
</script>
<script class="analytics">(window.gaDevIds=window.gaDevIds||[]).push('BwiEti');


(function () {
  var customDocumentWrite = function(content) {
    var jquery = null;

    if (window.jQuery) {
      jquery = window.jQuery;
    } else if (window.Checkout && window.Checkout.$) {
      jquery = window.Checkout.$;
    }

    if (jquery) {
      jquery('body').append(content);
    }
  };

  var hasLoggedConversion = function(token) {
    if (token) {
      return document.cookie.indexOf('loggedConversion=' + token) !== -1;
    }
    return false;
  }

  var setCookieIfConversion = function(token) {
    if (token) {
      var twoMonthsFromNow = new Date(Date.now());
      twoMonthsFromNow.setMonth(twoMonthsFromNow.getMonth() + 2);

      document.cookie = 'loggedConversion=' + token + '; expires=' + twoMonthsFromNow;
    }
  }

  var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
  if (trekkie.integrations) {
    return;
  }
  trekkie.methods = [
    'identify',
    'page',
    'ready',
    'track',
    'trackForm',
    'trackLink'
  ];
  trekkie.factory = function(method) {
    return function() {
      var args = Array.prototype.slice.call(arguments);
      args.unshift(method);
      trekkie.push(args);
      return trekkie;
    };
  };
  for (var i = 0; i < trekkie.methods.length; i++) {
    var key = trekkie.methods[i];
    trekkie[key] = trekkie.factory(key);
  }
  trekkie.load = function(config) {
    trekkie.config = config || {};
    trekkie.config.initialDocumentCookie = document.cookie;
    var first = document.getElementsByTagName('script')[0];
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.onerror = function(e) {
      var scriptFallback = document.createElement('script');
      scriptFallback.type = 'text/javascript';
      scriptFallback.onerror = function(error) {
              var Monorail = {
      produce: function produce(monorailDomain, schemaId, payload) {
        var currentMs = new Date().getTime();
        var event = {
          schema_id: schemaId,
          payload: payload,
          metadata: {
            event_created_at_ms: currentMs,
            event_sent_at_ms: currentMs
          }
        };
        return Monorail.sendRequest("https://" + monorailDomain + "/v1/produce", JSON.stringify(event));
      },
      sendRequest: function sendRequest(endpointUrl, payload) {
        // Try the sendBeacon API
        if (window && window.navigator && typeof window.navigator.sendBeacon === 'function' && typeof window.Blob === 'function' && !Monorail.isIos12()) {
          var blobData = new window.Blob([payload], {
            type: 'text/plain'
          });
    
          if (window.navigator.sendBeacon(endpointUrl, blobData)) {
            return true;
          } // sendBeacon was not successful
    
        } // XHR beacon   
    
        var xhr = new XMLHttpRequest();
    
        try {
          xhr.open('POST', endpointUrl);
          xhr.setRequestHeader('Content-Type', 'text/plain');
          xhr.send(payload);
        } catch (e) {
          console.log(e);
        }
    
        return false;
      },
      isIos12: function isIos12() {
        return window.navigator.userAgent.lastIndexOf('iPhone; CPU iPhone OS 12_') !== -1 || window.navigator.userAgent.lastIndexOf('iPad; CPU OS 12_') !== -1;
      }
    };
    Monorail.produce('monorail-edge.shopifysvc.com',
      'trekkie_storefront_load_errors/1.1',
      {shop_id: 34171125891,
      theme_id: 89561202819,
      app_name: "storefront",
      context_url: window.location.href,
      source_url: "https://cdn.shopify.com/s/trekkie.storefront.1d937de3ab351f3a21d472769f20c0ea72d77fae.min.js"});

      };
      scriptFallback.async = true;
      scriptFallback.src = 'https://cdn.shopify.com/s/trekkie.storefront.1d937de3ab351f3a21d472769f20c0ea72d77fae.min.js';
      first.parentNode.insertBefore(scriptFallback, first);
    };
    script.async = true;
    script.src = 'https://cdn.shopify.com/s/trekkie.storefront.1d937de3ab351f3a21d472769f20c0ea72d77fae.min.js';
    first.parentNode.insertBefore(script, first);
  };
  trekkie.load(
    {"Trekkie":{"appName":"storefront","development":false,"defaultAttributes":{"shopId":34171125891,"isMerchantRequest":null,"themeId":89561202819,"themeCityHash":"13638044084361749923","contentLanguage":"en","currency":"IDR"},"isServerSideCookieWritingEnabled":true},"Google Analytics":{"trackingId":"UA-126904704-2","domain":"auto","siteSpeedSampleRate":"10","enhancedEcommerce":true,"doubleClick":true,"includeSearch":true},"Facebook Pixel":{"pixelIds":["2220214468247094"],"agent":"plshopify1.2"},"Session Attribution":{},"S2S":{"emitV4CheckoutEvent":true,"facebookCapiEnabled":true,"facebookAppPixelId":"2220214468247094","source":"trekkie-storefront-renderer"}}
  );

  var loaded = false;
  trekkie.ready(function() {
    if (loaded) return;
    loaded = true;

    window.ShopifyAnalytics.lib = window.trekkie;
    
      ga('require', 'linker');
      function addListener(element, type, callback) {
        if (element.addEventListener) {
          element.addEventListener(type, callback);
        }
        else if (element.attachEvent) {
          element.attachEvent('on' + type, callback);
        }
      }
      function decorate(event) {
        event = event || window.event;
        var target = event.target || event.srcElement;
        if (target && (target.getAttribute('action') || target.getAttribute('href'))) {
          ga(function (tracker) {
            var linkerParam = tracker.get('linkerParam');
            document.cookie = '_shopify_ga=' + linkerParam + '; ' + 'path=/';
          });
        }
      }
      addListener(window, 'load', function(){
        for (var i=0; i < document.forms.length; i++) {
          var action = document.forms[i].getAttribute('action');
          if(action && action.indexOf('/cart') >= 0) {
            addListener(document.forms[i], 'submit', decorate);
          }
        }
        for (var i=0; i < document.links.length; i++) {
          var href = document.links[i].getAttribute('href');
          if(href && href.indexOf('/checkout') >= 0) {
            addListener(document.links[i], 'click', decorate);
          }
        }
      });
    

    var originalDocumentWrite = document.write;
    document.write = customDocumentWrite;
    try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch(error) {};
    document.write = originalDocumentWrite;

    window.ShopifyAnalytics.lib.page(null,{"pageType":"home"});

    var match = window.location.pathname.match(/checkouts\/(.+)\/(thank_you|post_purchase)/)
    var token = match? match[1]: undefined;
    if (!hasLoggedConversion(token)) {
      setCookieIfConversion(token);
      
    }
  });

  
      var eventsListenerScript = document.createElement('script');
      eventsListenerScript.async = true;
      eventsListenerScript.src = "//cdn.shopify.com/shopifycloud/shopify/assets/shop_events_listener-fa61fd11817b231631d2fe43dc869d0b1d14a06332792d42f1a1d94bda5aa31e.js";
      document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);
    
})();</script>
<script class="boomerang">
(function () {
  if (window.BOOMR && (window.BOOMR.version || window.BOOMR.snippetExecuted)) {
    return;
  }
  window.BOOMR = window.BOOMR || {};
  window.BOOMR.snippetStart = new Date().getTime();
  window.BOOMR.snippetExecuted = true;
  window.BOOMR.snippetVersion = 12;
  window.BOOMR.application = "storefront-renderer";
  window.BOOMR.themeName = "Kingdom";
  window.BOOMR.themeVersion = "3.2.0";
  window.BOOMR.shopId = 34171125891;
  window.BOOMR.themeId = 89561202819;
  window.BOOMR.url =
    "https://cdn.shopify.com/shopifycloud/boomerang/shopify-boomerang-1.0.0.min.js";
  var where = document.currentScript || document.getElementsByTagName("script")[0];
  var parentNode = where.parentNode;
  var promoted = false;
  var LOADER_TIMEOUT = 3000;
  function promote() {
    if (promoted) {
      return;
    }
    var script = document.createElement("script");
    script.id = "boomr-scr-as";
    script.src = window.BOOMR.url;
    script.async = true;
    parentNode.appendChild(script);
    promoted = true;
  }
  function iframeLoader(wasFallback) {
    promoted = true;
    var dom, bootstrap, iframe, iframeStyle;
    var doc = document;
    var win = window;
    window.BOOMR.snippetMethod = wasFallback ? "if" : "i";
    bootstrap = function(parent, scriptId) {
      var script = doc.createElement("script");
      script.id = scriptId || "boomr-if-as";
      script.src = window.BOOMR.url;
      BOOMR_lstart = new Date().getTime();
      parent = parent || doc.body;
      parent.appendChild(script);
    };
    if (!window.addEventListener && window.attachEvent && navigator.userAgent.match(/MSIE [67]./)) {
      window.BOOMR.snippetMethod = "s";
      bootstrap(parentNode, "boomr-async");
      return;
    }
    iframe = document.createElement("IFRAME");
    iframe.src = "about:blank";
    iframe.title = "";
    iframe.role = "presentation";
    iframe.loading = "eager";
    iframeStyle = (iframe.frameElement || iframe).style;
    iframeStyle.width = 0;
    iframeStyle.height = 0;
    iframeStyle.border = 0;
    iframeStyle.display = "none";
    parentNode.appendChild(iframe);
    try {
      win = iframe.contentWindow;
      doc = win.document.open();
    } catch (e) {
      dom = document.domain;
      iframe.src = "javascript:var d=document.open();d.domain='" + dom + "';void(0);";
      win = iframe.contentWindow;
      doc = win.document.open();
    }
    if (dom) {
      doc._boomrl = function() {
        this.domain = dom;
        bootstrap();
      };
      doc.write("<body onload='document._boomrl();'>");
    } else {
      win._boomrl = function() {
        bootstrap();
      };
      if (win.addEventListener) {
        win.addEventListener("load", win._boomrl, false);
      } else if (win.attachEvent) {
        win.attachEvent("onload", win._boomrl);
      }
    }
    doc.close();
  }
  var link = document.createElement("link");
  if (link.relList &&
    typeof link.relList.supports === "function" &&
    link.relList.supports("preload") &&
    ("as" in link)) {
    window.BOOMR.snippetMethod = "p";
    link.href = window.BOOMR.url;
    link.rel = "preload";
    link.as = "script";
    link.addEventListener("load", promote);
    link.addEventListener("error", function() {
      iframeLoader(true);
    });
    setTimeout(function() {
      if (!promoted) {
        iframeLoader(true);
      }
    }, LOADER_TIMEOUT);
    BOOMR_lstart = new Date().getTime();
    parentNode.appendChild(link);
  } else {
    iframeLoader(false);
  }
  function boomerangSaveLoadTime(e) {
    window.BOOMR_onload = (e && e.timeStamp) || new Date().getTime();
  }
  if (window.addEventListener) {
    window.addEventListener("load", boomerangSaveLoadTime, false);
  } else if (window.attachEvent) {
    window.attachEvent("onload", boomerangSaveLoadTime);
  }
  if (document.addEventListener) {
    document.addEventListener("onBoomerangLoaded", function(e) {
      e.detail.BOOMR.init({
        producer_url: "https://monorail-edge.shopifysvc.com/v1/produce",
        ResourceTiming: {
          enabled: true,
          trackedResourceTypes: ["script", "img", "css"]
        },
      });
      e.detail.BOOMR.t_end = new Date().getTime();
    });
  } else if (document.attachEvent) {
    document.attachEvent("onpropertychange", function(e) {
      if (!e) e=event;
      if (e.propertyName === "onBoomerangLoaded") {
        e.detail.BOOMR.init({
          producer_url: "https://monorail-edge.shopifysvc.com/v1/produce",
          ResourceTiming: {
            enabled: true,
            trackedResourceTypes: ["script", "img", "css"]
          },
        });
        e.detail.BOOMR.t_end = new Date().getTime();
      }
    });
  }
})();</script>
</head>

<body id="heiden-heritage-inspired-by-the-world-dedicated-for-you" class=" template-index template-index no-touch clearfix">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N97W7HZ"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<div id="shopify-section-announcement-bar" class="shopify-section mount-announcement"> 

	
		
		<a class="announcement"  href="/collections/all" >
			<span class="announcement__text">INSPIRED BY THE WORLD, DEDICATED FOR YOU.</span>
		</a>

		
			<span class="announcement__exit" aria-label="Close">

	<svg version="1.1" class="svg close" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812 "/></svg>


</span>
		

		<style data-shopify>
			.announcement {
				background: #004a68;
				color: #ffffff;
			}
			.announcement__exit polygon {
				fill: #ffffff;
			}
			
				.announcement {
					padding-right: 40px;
				}
			
		</style>

    <script type="text/javascript">
      var ad = localStorage.getItem('announcement-dismissed');
      if ( ad != 'true' ) {
        jQuery('body').addClass('show-announcement-bar');
      }
    </script>

	



</div>

	<div id="shopify-section-sidebar" class="shopify-section mount-sidebar mount-overlay"><div class="sidebar">

	<div class="sidebar__container sidebar__responsive-container">

		<div class="sidebar__container-holder" style="flex: 1 0 auto;">

	    <header class="logo">

				
					<h1 itemscope itemtype="//schema.org/Organization">
				

					

						<a class="logo__image" href="/" itemprop="url">
							<img src="/images/logo.png" alt="SHOE SHOP" style="max-width: 170px;" />
						</a>

					

				
					</h1>
				

	    </header>

	    <div class="sidebar__menus">

		    <nav class="primary-menu">
					<ul class="sidebar__menu">

	

</ul>
	    	</nav>

	    	<nav class="secondary-menu">

					<ul class="sidebar__menu">

	

		<li class="" >

			<a href="/"  class="selected" >
				<span style="flex: 1;"><span class="underline-animation">Home</span></span>
				
			</a>

			

		</li>



 
			</a>

			

				<div class="sidebar__submenu sidebar__submenu--first" aria-expanded="false">

					<div class="sidebar__container">

						<div class="sub-menu">

							<ul>

								

									<li class="" >

										<a href="/home" >
											<span style="flex: 1;"><span class="underline-animation">All Product</span></span>
											
										</a>

										

									</li>

								

									<li class="" >

										<a href="/collections/vendage" >
											<span style="flex: 1;"><span class="underline-animation">VENDAGE</span></span>
											
										</a>

										

									</li>

								

									<li class="" >

										<a href="/collections/venom" >
											<span style="flex: 1;"><span class="underline-animation">VENOM</span></span>
											
										</a>

										

									</li>

								

									<li class="" >

										<a href="/collections/cage" >
											<span style="flex: 1;"><span class="underline-animation">CAGE</span></span>
											
										</a>

										

									</li>

								

									<li class="" >

										<a href="/collections/xylo" >
											<span style="flex: 1;"><span class="underline-animation">XYLO</span></span>
											
										</a>

										

									</li>

								

									<li class="" >

										<a href="/collections/sandals" >
											<span style="flex: 1;"><span class="underline-animation">SANDALS</span></span>
											
										</a>

										

									</li>

								

									<li class="" >

										<a href="/collections/masker" >
											<span style="flex: 1;"><span class="underline-animation">MASKER</span></span>
											
										</a>

										

									</li>

								

									<li class="" >

										<a href="/products" >
											<span style="flex: 1;"><span class="underline-animation">ZEPHYR</span></span>
											
										</a>

										

									</li>

								

									<li class="" >

										<a href="/products" >
											<span style="flex: 1;"><span class="underline-animation">FORTEM</span></span>
											
										</a>

										

									</li>

								

									<li class="" >

										<a href="/collections/hrtg-the-futurist" >
											<span style="flex: 1;"><span class="underline-animation">HRTG The Futurist</span></span>
											
										</a>

										

									</li>

								

									<li class="" >

										<a href="/collections/morpheus" >
											<span style="flex: 1;"><span class="underline-animation">MORPHEUS</span></span>
											
										</a>

										

									</li>

								

									<li class="" >

										<a href="/collections/aegis" >
											<span style="flex: 1;"><span class="underline-animation">AEGIS</span></span>
											
										</a>

										

									</li>

								

									<li class="" >

										<a href="/collections/gaia" >
											<span style="flex: 1;"><span class="underline-animation">GAIA</span></span>
											
										</a>

										

									</li>

								

							</ul>
		
						</div>

					</div>

				</div>

			

		</li>

	

		<li class="" >

			<a href="/home" >
				<span style="flex: 1;"><span class="underline-animation">Products</span></span>
				
			</a>

			

			

		</li>
		

	

</ul>

					
		    		<ul class="sidebar__menu">
		    			<li>
			    			
			    				<a href="/login"><span class="underline-animation">Login</span></a>
								
							</li>
		    		</ul>
	    		

	    	</nav>

				<span class="sidebar__menus-close hidden" aria-label="Close">
					

	<svg version="1.1" class="svg close" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812 "/></svg>



				</span>

				<span class="sidebar__menus-back hidden" aria-label="Back">
					

	<svg class="svg symbol symbol--arrow-left" style="transform: rotate(180deg);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.4 6.6L17 8.1l3.2 3.2H.2v2h20L17 16.6l1.4 1.4 5.6-5.7z"/></svg>



				</span>

	    </div>

	    <div class="sidebar__responsive-handles">
				
				
					<span class="sidebar__search-handle">
						<span class="icon icon-search" aria-hidden="true">

	<svg class="svg symbol symbol--search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.2 19.2a8.96 8.96 0 0 1-9-9 8.96 8.96 0 0 1 9-9 8.96 8.96 0 0 1 9 9 8.96 8.96 0 0 1-9 9zm0-16c-3.9 0-7 3.1-7 7s3.1 7 7 7 7-3.1 7-7c0-3.8-3.1-7-7-7z"/><path d="M15.65 17.11l1.414-1.414 5.657 5.657-1.414 1.414z"/></svg>


</span>
					</span>
				

				<!-- <a href="/cart" class="sidebar__cart-handle" aria-label="Shopping Cart" title="Shopping Cart">
					<span class="icon icon-cart" aria-hidden="true" style="height: 28px;"> -->

	<!-- <svg class="svg symbol symbol--cart low-dpi" width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 7H4.85375C3.25513 7 1.93732 8.25356 1.85749 9.85019L1.15749 23.8502C1.07181 25.5637 2.43806 27 4.15375 27H19.8463C21.5619 27 22.9282 25.5637 22.8425 23.8502L22.1425 9.85019C22.0627 8.25356 20.7449 7 19.1463 7H17M7 7V5C7 2.79086 8.79086 1 11 1H13C15.2091 1 17 2.79086 17 5V7M7 7H17" stroke="black" stroke-width="2"/></svg><svg class="svg symbol symbol--cart high-dpi" width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.20513 7.11364H4.96283C3.37199 7.11364 2.05776 8.35543 1.96765 9.94371L1.17984 23.8301C1.08221 25.551 2.45138 27 4.17502 27H19.825C21.5486 27 22.9178 25.551 22.8202 23.8301L22.0324 9.94371C21.9422 8.35542 20.628 7.11364 19.0372 7.11364H16.7949M7.20513 7.11364V5C7.20513 2.79086 8.99599 1 11.2051 1H12.7949C15.004 1 16.7949 2.79086 16.7949 5V7.11364M7.20513 7.11364H16.7949" stroke="black" stroke-width="1.5"/></svg> -->


<!-- </span>
					<span class="count" aria-hidden="true">0</span>
				</a> -->

				<span class="sidebar__menu-handle">
					<span class="icon icon-menu" aria-hidden="true">

	<svg class="svg symbol symbol--burger" width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 5H24V7H0V5Z" fill="black"/><path d="M0 13H24V14V15H0C0 14.7071 0 14.2286 0 14C0 13.7714 0 13.2929 0 13Z" fill="black"/><path d="M0 21H24V23H0V21Z" fill="black"/></svg>


</span>
				</span>

			</div>
			
			
				<div class="sidebar__cart">
					<div>
						<div class="cart" id="cart">

	<div class="cart__title" data-added-singular="{{ count }} product was added to your cart" data-added-plural="{{ count }} products were added to your cart" data-cart-empty="Your cart is currently empty.">
		
			<span>Your cart is currently empty.</span>
		
	</div>

	<form action="/cart" method="post" novalidate class="cart__form  cart--empty ">
		
		<div class="cart__items">

			

		</div>

		<div class="cart__details">

			
			  <textarea name="note" id="cartSpecialInstructions" placeholder="Special instructions for seller" aria-label="Special instructions for seller"></textarea>
			

		  <div class="cart-details" id="CartDetails">

		  	<div>
			    
			    

					<p id="CartTotal" class="h1">Total: <strong>Rp  0</strong></p>
					<small>Shipping &amp; taxes are calculated at checkout.</small>

				</div>
		
				<span class="cart-buttons">
	      	<button id="ViewCart" class="button button--outline" style="margin-right: 25px;">View Cart</button>
		    	<input id="CheckOut" class="button button--solid" type="submit" name="checkout" value="Check Out">
		    </span>

		  </div>

	    
	      
	    

		</div>

		<span class="cart__preloader"></span>

		<div class="cart-continue">
			<a href="/" class="button button--solid">Continue browsing</a>
		</div>

	</form>

</div>
						<span class="sidebar__cart-close" aria-label="Close">
							

	<svg version="1.1" class="svg close" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812 "/></svg>



						</span>
					</div>
				</div>
			

		</div>

		
			<div class="sidebar__footer">
				<form action="/search" method="get" class="input-group search-form " role="search" autocomplete="off">

	

  <input type="search" name="q" value="" placeholder="Search..." data-responsive-placeholder="Type a keyword and press enter..." class="input-group-field" aria-label="Search..." autocomplete="off">
  <button type="submit" class="btn icon-fallback-text" aria-label="Submit">
    <span class="icon icon-search" aria-hidden="true">

	<svg class="svg symbol symbol--search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.2 19.2a8.96 8.96 0 0 1-9-9 8.96 8.96 0 0 1 9-9 8.96 8.96 0 0 1 9 9 8.96 8.96 0 0 1-9 9zm0-16c-3.9 0-7 3.1-7 7s3.1 7 7 7 7-3.1 7-7c0-3.8-3.1-7-7-7z"/><path d="M15.65 17.11l1.414-1.414 5.657 5.657-1.414 1.414z"/></svg>


</span>
  </button>


	<span class="sidebar__search-close hidden" aria-label="Close">
		

	<svg version="1.1" class="svg close" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812 "/></svg>



	</span>

</form>
			</div>
		

	</div>

</div>

</div>

	<div id="content-holder">

		<main id="content" role="main">

			<div id="page-content">
	<!-- BEGIN content_for_index --><div id="shopify-section-1568013063402" class="shopify-section mount-slider overflow-hidden">

	<div class="content-section gutter--off slider slider--vertical slider--scroll slider--horizontal-mobile-true" data-blocks="6">

	  

	  	<div id="slide-58c3903b-6512-4f2f-b63e-a14201bde977" class="slide"  data-index="1">
	  		
				<div class="slide__text horizontal-left vertical-bottom">

		      

						<div>
						
							

							
							
							

							
								<div class="slide__button"><a class="button button--solid" href="/home"  title="BUY NOW">BUY NOW 

	<svg class="svg symbol symbol--arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.4 6.6L17 8.1l3.2 3.2H.2v2h20L17 16.6l1.4 1.4 5.6-5.7z"/></svg>


</a></div>
							

						</div>

		      

				</div>

				<div class="slide__image">

	        
					
						







<figure data-crop="true" class="lazy-image  lazy-image--background "  data-ratio="1.903225806451613" style="padding-top: 52.54237288135593%" >

	<img
	  src="//cdn.shopify.com/s/files/1/0341/7112/5891/files/morpheus-web-banner_1_860x.jpg?v=1645527664" alt=""
	  srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
	   data-srcset="//cdn.shopify.com/s/files/1/0341/7112/5891/files/morpheus-web-banner_1_320x.jpg?v=1645527664 260w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/morpheus-web-banner_1_600x.jpg?v=1645527664 480w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/morpheus-web-banner_1_860x.jpg?v=1645527664 720w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/morpheus-web-banner_1_1100x.jpg?v=1645527664 960w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/morpheus-web-banner_1_1600x.jpg?v=1645527664 1440w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/morpheus-web-banner_1_2100x.jpg?v=1645527664 1920w" 
	  data-sizes="auto" class="img lazyload"
	  itemprop="image"
 	/>
	
		<span class="lazy-preloader"></span>
	

	<noscript><span class="ll-fallback" style="background-image:url(//cdn.shopify.com/s/files/1/0341/7112/5891/files/morpheus-web-banner_1_860x.jpg?v=1645527664)"></span></noscript>

	

	

</figure>



					

					<span class="slide__overlay"></span>

				</div>
					
				

				

			</div>

		

	  	<div id="slide-72f49f92-a08e-475f-997f-583285d36027" class="slide"  data-index="2">
	  		
				<div class="slide__text horizontal-left vertical-bottom">

		      

						<div>
						
							

							
							
							

							
								<div class="slide__button"><a class="button button--solid" href="/products/zephyr-x-ham-ivory-azure-sky"  title="GASPOL!!">GASPOL!! 

	<svg class="svg symbol symbol--arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.4 6.6L17 8.1l3.2 3.2H.2v2h20L17 16.6l1.4 1.4 5.6-5.7z"/></svg>


</a></div>
							

						</div>

		      

				</div>

				<div class="slide__image">

	        
					
						







<figure data-crop="true" class="lazy-image  lazy-image--background "  data-ratio="1.903225806451613" style="padding-top: 52.54237288135593%" >

	<img
	  src="//cdn.shopify.com/s/files/1/0341/7112/5891/files/ZEPHYR-HAM-BANNER_2_860x.jpg?v=1643196560" alt=""
	  srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
	   data-srcset="//cdn.shopify.com/s/files/1/0341/7112/5891/files/ZEPHYR-HAM-BANNER_2_320x.jpg?v=1643196560 260w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/ZEPHYR-HAM-BANNER_2_600x.jpg?v=1643196560 480w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/ZEPHYR-HAM-BANNER_2_860x.jpg?v=1643196560 720w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/ZEPHYR-HAM-BANNER_2_1100x.jpg?v=1643196560 960w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/ZEPHYR-HAM-BANNER_2_1600x.jpg?v=1643196560 1440w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/ZEPHYR-HAM-BANNER_2_2100x.jpg?v=1643196560 1920w" 
	  data-sizes="auto" class="img lazyload"
	  itemprop="image"
 	/>
	
		<span class="lazy-preloader"></span>
	

	<noscript><span class="ll-fallback" style="background-image:url(//cdn.shopify.com/s/files/1/0341/7112/5891/files/ZEPHYR-HAM-BANNER_2_860x.jpg?v=1643196560)"></span></noscript>

	

	

</figure>



					

					<span class="slide__overlay"></span>

				</div>
					
				

				

			</div>

		

	  	<div id="slide-373dce4e-edc3-494e-85a1-3f26cbcba7db" class="slide"  data-index="3">
	  		
				<div class="slide__text horizontal-left vertical-bottom">

		      

						<div>
						
							

							
							
							

							
								<div class="slide__button"><a class="button button--solid" href="/home"  title="BUY NOW">BUY NOW 

	<svg class="svg symbol symbol--arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.4 6.6L17 8.1l3.2 3.2H.2v2h20L17 16.6l1.4 1.4 5.6-5.7z"/></svg>


</a></div>
							

						</div>

		      

				</div>

				<div class="slide__image">

	        
					
						







<figure data-crop="true" class="lazy-image  lazy-image--background "  data-ratio="1.903225806451613" style="padding-top: 52.54237288135593%" >

	<img
	  src="//cdn.shopify.com/s/files/1/0341/7112/5891/files/VSX-FUTURAGE-BANNER_860x.jpg?v=1642048246" alt=""
	  srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
	   data-srcset="//cdn.shopify.com/s/files/1/0341/7112/5891/files/VSX-FUTURAGE-BANNER_320x.jpg?v=1642048246 260w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/VSX-FUTURAGE-BANNER_600x.jpg?v=1642048246 480w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/VSX-FUTURAGE-BANNER_860x.jpg?v=1642048246 720w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/VSX-FUTURAGE-BANNER_1100x.jpg?v=1642048246 960w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/VSX-FUTURAGE-BANNER_1600x.jpg?v=1642048246 1440w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/VSX-FUTURAGE-BANNER_2100x.jpg?v=1642048246 1920w" 
	  data-sizes="auto" class="img lazyload"
	  itemprop="image"
 	/>
	
		<span class="lazy-preloader"></span>
	

	<noscript><span class="ll-fallback" style="background-image:url(//cdn.shopify.com/s/files/1/0341/7112/5891/files/VSX-FUTURAGE-BANNER_860x.jpg?v=1642048246)"></span></noscript>

	

	




					

					<span class="slide__overlay"></span>

				</div>
					
				

				

			</div>

		


</div><div id="shopify-section-1582732531038" class="shopify-section"><div class="content-section gutter--on heading heading--alignment-left ">

  <div class="heading__content">

    
      <h2 class="heading__title h1">SHOP OUR COLLECTION</h2>
    

    

  </div>

  

</div>





</div><div id="shopify-section-1568291632139" class="shopify-section overflow-hidden"><div class="content-section gutter--on collection-list layout-fulls">

  
    <div class="collection-item" >

	<a class="collection-item__link" href="/home" title="CASUAL">

		<div class="collection-item__header  horizontal-left vertical-top ">

			<h3 class="collection-item__title h1">
				<span>
					
						CASUAL
					
				</span>
			</h3>

		</div>

		<div class="collection-item__background">

			

			
				







<figure data-crop="true" class="lazy-image  lazy-image--background "  data-ratio="1.903225806451613" style="padding-top: 52.54237288135593%" >

	<img
	  src="//cdn.shopify.com/s/files/1/0341/7112/5891/files/webbanner-vendage-black-drift-x-white-ocean-FA_860x.jpg?v=1613040116" alt=""
	  srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
	   data-srcset="//cdn.shopify.com/s/files/1/0341/7112/5891/files/webbanner-vendage-black-drift-x-white-ocean-FA_320x.jpg?v=1613040116 260w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/webbanner-vendage-black-drift-x-white-ocean-FA_600x.jpg?v=1613040116 480w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/webbanner-vendage-black-drift-x-white-ocean-FA_860x.jpg?v=1613040116 720w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/webbanner-vendage-black-drift-x-white-ocean-FA_1100x.jpg?v=1613040116 960w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/webbanner-vendage-black-drift-x-white-ocean-FA_1600x.jpg?v=1613040116 1440w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/webbanner-vendage-black-drift-x-white-ocean-FA_2100x.jpg?v=1613040116 1920w" 
	  data-sizes="auto" class="img lazyload"
	  itemprop="image"
 	/>
	
		<span class="lazy-preloader"></span>
	

	<noscript><span class="ll-fallback" style="background-image:url(//cdn.shopify.com/s/files/1/0341/7112/5891/files/webbanner-vendage-black-drift-x-white-ocean-FA_860x.jpg?v=1613040116)"></span></noscript>

	

	

</figure>


			

		</div>

	</a>

</div>
  
    <div class="collection-item" >

	<a class="collection-item__link" href="/home" title="SPORT">

		<div class="collection-item__header  horizontal-left vertical-top ">

			<h3 class="collection-item__title h1">
				<span>
					
					SPORT
					
				</span>
			</h3>

		</div>

		<div class="collection-item__background">

			

			
				







<figure data-crop="true" class="lazy-image  lazy-image--background "  data-ratio="1.903225806451613" style="padding-top: 52.54237288135593%" >

	<img
	  src="//cdn.shopify.com/s/files/1/0341/7112/5891/files/magnamite_futurage-web-banner_860x.jpg?v=1641884913" alt=""
	  srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
	   data-srcset="//cdn.shopify.com/s/files/1/0341/7112/5891/files/magnamite_futurage-web-banner_320x.jpg?v=1641884913 260w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/magnamite_futurage-web-banner_600x.jpg?v=1641884913 480w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/magnamite_futurage-web-banner_860x.jpg?v=1641884913 720w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/magnamite_futurage-web-banner_1100x.jpg?v=1641884913 960w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/magnamite_futurage-web-banner_1600x.jpg?v=1641884913 1440w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/magnamite_futurage-web-banner_2100x.jpg?v=1641884913 1920w" 
	  data-sizes="auto" class="img lazyload"
	  itemprop="image"
 	/>
	
		<span class="lazy-preloader"></span>
	

	<noscript><span class="ll-fallback" style="background-image:url(//cdn.shopify.com/s/files/1/0341/7112/5891/files/magnamite_futurage-web-banner_860x.jpg?v=1641884913)"></span></noscript>

	

	

</figure>


			

		</div>

	</a>

</div>
  
    <div class="collection-item" >

	

		<div class="collection-item__background">

			

			
				







<figure data-crop="true" class="lazy-image  lazy-image--background "  data-ratio="0.9984502130956994" style="padding-top: 100.15521924718665%" >

	<img
	  src="//cdn.shopify.com/s/files/1/0341/7112/5891/files/NYX_2.0_ISO_WG_860x.jpg?v=1589364564" alt=""
	  srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
	   data-srcset="//cdn.shopify.com/s/files/1/0341/7112/5891/files/NYX_2.0_ISO_WG_320x.jpg?v=1589364564 260w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/NYX_2.0_ISO_WG_600x.jpg?v=1589364564 480w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/NYX_2.0_ISO_WG_860x.jpg?v=1589364564 720w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/NYX_2.0_ISO_WG_1100x.jpg?v=1589364564 960w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/NYX_2.0_ISO_WG_1600x.jpg?v=1589364564 1440w, //cdn.shopify.com/s/files/1/0341/7112/5891/files/NYX_2.0_ISO_WG_2100x.jpg?v=1589364564 1920w" 
	  data-sizes="auto" class="img lazyload"
	  itemprop="image"
 	/>
	
		<span class="lazy-preloader"></span>
	

	<noscript><span class="ll-fallback" style="background-image:url(//cdn.shopify.com/s/files/1/0341/7112/5891/files/NYX_2.0_ISO_WG_860x.jpg?v=1589364564)"></span></noscript>

	

	

</figure>


			

		</div>

	</a>

</div>
  

</div>


  <style data-shopify>
    #shopify-section-1568291632139 .collection-item__header {
      color: #ffffff;
    }
    #shopify-section-1568291632139 .collection-item__title span {
      background-image: linear-gradient(to right, #ffffff, #ffffff);
    }
  </style>



  <style data-shopify>
    #shopify-section-1568291632139 .collection-item__background:after {
      background: #171717;
    }
  </style>


</div><!-- END content_for_index -->
</div>

			<div id="shopify-section-text-columns-with-icons" class="shopify-section">





	<div class="text-columns-with-icons">

		<div class="content-section gutter--on text-w-icon text-w-image" data-size="4">

			

				<div class="text-w-icon__container" >

					<div class="text-w-icon__icon">
						
							<span>
	<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="none" stroke="#202020" stroke-width="2" stroke-linejoin="round"><path stroke-miterlimit="10" d="M30.5 50H2V16.4L11.6 2h28.8L50 16.4v14.1M2.3 16h47.4M26 2v14" stroke-linecap="round"/><circle cx="46" cy="46" r="16"/><path stroke-miterlimit="10" d="M53 42.1l-8 9-5-5" stroke-linecap="round"/></svg>
</span>
						
					</div>

					<div class="text-w-icon__content">

						<h3 class="text-w-icon__title h2">Quality Guarantee</h3>
						<div class="text-w-icon__rte rte"><p>Tiga (3) Bulan garansi produk untuk perbaikan dan penukaran.</p></div>

					</div>

				</div>

			

				<div class="text-w-icon__container" >

					<div class="text-w-icon__icon">
						
							<span>
	<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"><g stroke-linecap="round"><path d="M17 15h26c2.3 0 2.1 1.6 1.7 3.1S41 33 41 33h10.1l4-2 3.9 2v8c0 1.3-.5 2-2 2h-8M9 43h6.6m9.4 0h14.6"/><path d="M43.6 23H49l6.1 8M31 23H9m18 8H5"/></g><path d="M24.8 44a6.9 6.9 0 0 1-6.2 5c-2.7 0-4.2-2.2-3.4-5a6.9 6.9 0 0 1 6.2-5c2.6 0 4.2 2.2 3.4 5zm24 0a6.9 6.9 0 0 1-6.2 5c-2.7 0-4.2-2.2-3.4-5a6.9 6.9 0 0 1 6.2-5c2.6 0 4.2 2.2 3.4 5z"/></svg>
</span>
						
					</div>

					<div class="text-w-icon__content">

						<h3 class="text-w-icon__title h2">Pengiriman Cepat</h3>
						<div class="text-w-icon__rte rte"><p>Kurir pengiriman handal menjamin produk brader datang tepat waktu.</p></div>

					</div>

				</div>

			

				<div class="text-w-icon__container" >

					<div class="text-w-icon__icon">
						
							<span>
	<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="none" stroke="#202020"><g stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"><path d="M20.2 46H5a3 3 0 0 1-3-3V7a3 3 0 0 1 3-3h54a3 3 0 0 1 3 3m-50 7h21.3M12 26h8" stroke-linecap="round"/><path d="M62 41a5.4 5.4 0 0 1-3 5L24 59.6c-3 1.3-4-1-4-2.6V23a5.2 5.2 0 0 1 3-5L57 4.8c2.2-.8 5 .5 5 2.2z"/></g><circle cx="32" cy="36.2" r="4" stroke-width="2" stroke-linejoin="round"/></svg>
</span>
						
					</div>

					<div class="text-w-icon__content">

						<h3 class="text-w-icon__title h2">Pembayaran Mudah</h3>
						<div class="text-w-icon__rte rte"><p>Beragam metode pembayaran melalui jaringan yang aman untuk menjamin informasi brader terjaga.</p></div>

					</div>

				</div>

			

				<div class="text-w-icon__container" >

					<div class="text-w-icon__icon">
						
							<span>
	<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"><path d="M49.7 49.2c-.7-2.2-2.8-5.7-9.1-7-8.1-1.6-8.6-3.6-8.6-5.2v-2a14.1 14.1 0 0 0 4-7c2.5 0 4-3 4-6 0-.8 0-4-2-4C43 3.6 28.4-2 18 5c-4.4 0-5.6 6.6-4 13-2 0-2 3.2-2 4 0 3 1.5 6 4 6a14.2 14.2 0 0 0 4 7v2c0 1.6-.5 3.6-8.6 5.2S2 51 2 51h36.9" stroke-linecap="round"/><path d="M57 32c-1.4-.2-2 .9-2.5 1.5l-3.4 5.2a2.4 2.4 0 0 0 .6 3.3c1.4 1.2 2.9 2.2-2.6 7.7s-6 3.5-7.2 2.1a2.4 2.4 0 0 0-3.3-.6l-5.2 3.4c-.7.5-1.7 1.1-1.5 2.5a7.2 7.2 0 0 0 6.8 5c4.5 0 10-3.5 14.8-8.4S62 43.3 62 38.8a7.2 7.2 0 0 0-5-6.8z"/></svg>
</span>
						
					</div>

					<div class="text-w-icon__content">

						<h3 class="text-w-icon__title h2">Admin Bersahabat</h3>
						<div class="text-w-icon__rte rte"><p>Admin yang ramah dan edukatif siap menjawab semua pertanyaan brader.</p></div>

					</div>

				</div>

			

		</div>

	</div>




  <style data-shopify>
    #shopify-section-text-columns-with-icons .text-columns-with-icons {
      background: #f5f5f5;
      padding-top: 100px;
    }
    @media all and (max-width: 948px) {
    	#shopify-section-text-columns-with-icons .text-columns-with-icons {
				padding-top: 70px;
			}
  	}
    @media all and (max-width: 480px) {
    	#shopify-section-text-columns-with-icons .text-columns-with-icons {
				padding-top: 50px;
			}
  	}
  </style>



  <style data-shopify>
    #shopify-section-text-columns-with-icons .text-columns-with-icons {
      color: #262626;
    }
    #shopify-section-text-columns-with-icons .text-columns-with-icons a {
      color: #262626;
    }
    #shopify-section-text-columns-with-icons .text-columns-with-icons svg * {
      stroke: #262626;
    }
  </style>


</div>
			<div id="shopify-section-footer" class="shopify-section mount-footer"><div class="footer">

  

    

			</div>
			<div id="shopify-section-footer" class="shopify-section mount-footer"><div class="footer">

  

    

        <div class="footer-item footer-text ">
        
          

          <div class="rte">
            <p>CONTACT US : </p><p>WA   <a href="https://api.whatsapp.com/send?phone=081261728088" title="https://api.whatsapp.com/send?phone=081261728088">081261728088</a></p><p>M     SHOE-SHOP@gmail.com</p>
          </div>    

        </div>

      

  

    

        <div class="footer-item footer-menus">

          

            <div>

              
                <h4>Navigation</h4>
              
              
              <div class="footer-links body-size-lesser-than-normal">
                
                  <span>
                    <a href="/home">Order Now</a>
                  </span>
                
                
              </div>

            </div>

          

          

        </div>

      

      

  

    

     


</span>
                  </button>
                </div>

              

            </form>

          </div>

        </div>
  
    

  

    

          
          
         

        </div>

      

  

</div>

</div>

		</main>

	</div>

	<div id="shopify-section-popup" class="shopify-section mount-popup"><div class="popup-content" data-show="10" data-freq="week" data-enable="false">

  

  <div class="popup-text">

    
      <h4 class="h1 popup-title">Newsletter</h4>
    

    
      <div class="rte"><p>Stay up to date on the latest product releases, special offers &amp; news by signing up for our newsletter.</p><p>Read our <a href="#">privacy policy</a>.</p></div>
    

    
      <div class="popup-form">
        <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="customer" /><input type="hidden" name="utf8" value="" />
          
          
            <div>
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input type="email" class="newsletter__input" value="" placeholder="Enter your email" name="contact[email]" id="Email" aria-label="Enter your email" autocorrect="off" autocapitalize="off">
              <button type="submit" class="newsletter__submit" id="Subscribe" aria-label="Submit">
                <span aria-hidden="true">

	<span class="long-arrow"><svg class="svg symbol symbol--arrow-long low-dpi" width="34" height="11" viewBox="0 0 34 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M30 5.99999L27.5 8.50001L29 10L34 5.00001L32.5 3.50001L29 0L27.5 1.5L30 3.99999L0 3.99999V4.99999V5.99999L30 5.99999Z" fill="black"/></svg><svg class="svg symbol symbol--arrow-long high-dpi" width="34" height="11" viewBox="0 0 34 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M28 9.99999L31.6893 6.3107H0V5.5607V4.8107H31.8107L28 1L29 0L34 5.06067L34 6.06069L34 6.0607L29 11L28 9.99999Z" fill="black"/></svg></span>


</span>
              </button>
            </div>
          
        </form>
      </div>
    

  </div>

  <button class="popup-close" aria-label="Close">
    

	<svg version="1.1" class="svg close" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812 "/></svg>



  </button>

</div>

<div class="popup-background"></div>

</div>

	<script type="text/javascript">

		window.shop_money_format = "Rp  {{ amount_no_decimals_with_comma_separator }}";
		window.cart_action = "overlay";
		window.cart_url = "/cart";

		window.product_words_add_to_cart_button = "Add to cart";
		window.product_words_sold_out_variant = "Sold out";
		window.product_words_unavailable_variant = "Unavailable";
		window.product_words_one_product = "There is only one product left!";
		window.product_words_few_products = "There are {{ count }} products left";
		window.product_words_no_products = "There are no products left";
		window.product_words_preorder = "This product is out of stock, but you can still order it.";
		window.products_page_more_description_label = "Show more";
		window.products_page_less_description_label = "Show less";
		window.cart_add_error = "All {{ title }} are in your cart.";
		window.cart_general_error = "There was an error. Please refresh the page and try again.";

		
		window.symbol_arrow = '	<span class="long-arrow"><svg class="svg symbol symbol--arrow-long low-dpi" width="34" height="11" viewBox="0 0 34 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M30 5.99999L27.5 8.50001L29 10L34 5.00001L32.5 3.50001L29 0L27.5 1.5L30 3.99999L0 3.99999V4.99999V5.99999L30 5.99999Z" fill="black"/></svg><svg class="svg symbol symbol--arrow-long high-dpi" width="34" height="11" viewBox="0 0 34 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M28 9.99999L31.6893 6.3107H0V5.5607V4.8107H31.8107L28 1L29 0L34 5.06067L34 6.06069L34 6.0607L29 11L28 9.99999Z" fill="black"/></svg></span>';

	</script>

	<script type="text/javascript">
		if ( 'ontouchstart' in window || window.DocumentTouch && document instanceof DocumentTouch ) {
		  $('body').removeClass('no-touch').addClass('touch');
		} 
	</script>

	<script type="text/javascript" src="//cdn.shopify.com/s/files/1/0341/7112/5891/t/2/assets/theme.min.js?v=140151384860813636481587706461"></script>

	<span class="cart-overlay-background"></span>
	<span class="menu-overlay-background"></span>

	<noscript><style type="text/css">.ll-fallback{position:absolute;top:0;left:0;width:100%;height:100%;background-size:cover;background-position:center;background-repeat:no-repeat;z-index:99}#shopify-section-popup{display:none!important}.product-gallery--slider{height:auto}video,iframe,model-viewer{opacity:1!important;position:absolute !important;top:0;left:0;width:100%;height:100%;}</style></noscript>


<!-- **BEGIN** Hextom CTB Integration // Main Include - DO NOT MODIFY -->
    <!-- **BEGIN** Hextom CTB Integration // Main - DO NOT MODIFY -->
<script type="application/javascript">
    window.hextom_ctb = {
        p1: [
            
        ],
        p2: {
            
        }
    };
</script>
<!-- **END** Hextom CTB Integration // Main - DO NOT MODIFY -->
    <!-- **END** Hextom CTB Integration // Main Include - DO NOT MODIFY -->
</body>
</html>